<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/common.css" type="text/css" />
<link rel="stylesheet" href="js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title>管理区域</title>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		changeClientId('man_zone');
		$('#man_zone').css('height','490px');
		$('form').jqTransform({imgPath:'js/jqtransformplugin/img/'});
	});
</script>
</head>

<body>
<div id="man_zone1">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
  <form action="xtcs.html" method="POST">
    <tr>
      <th width="14%" align="center" class="btnactive">系统配置</th>
      <th width="3%" align="center">&nbsp;</th>
      <th width="15%" align="center" class="btnactive">网络配置</th>
      <th width="3%" align="center">&nbsp;</th>
      <th width="15%" align="center" class="btnactive">资源定义</th>
      <th width="3%" align="center">&nbsp;</th>
      <th width="14%" align="center" class="btnactive">定制访问</th>
      <th width="3%" align="center">&nbsp;</th>
      <th width="13%" align="center" class="btnactive">抗攻击设置</th>
      <th width="4%" align="center">&nbsp;</th>
      <th width="13%" align="center" class="btnactive">系统监控</th>
    </tr>
    <tr>
      <td align="center" class="btnred">基本设置</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnred">基本设置</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnred">地此管理</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnred">T C P访问</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnred">基本设置</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnred">基本设置</td>
    </tr>
    <tr>
      <td align="center" class="btnyel">系统参数</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">网络设备</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">地此列表</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">基本配置</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">抗DDos攻击</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">网络设备</td>
    </tr>
    <tr>
      <td align="center" class="btnyel">日期时间</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">域名服务器</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">地此组</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">客户端透明访问</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnred">入侵检测</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">日志信息</td>
    </tr>
    <tr>
      <td align="center" class="btnyel">双统配置</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">静态路由</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">域名地此</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">客户端普通访问</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">基本配置</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">用户信息</td>
    </tr>
    <tr>
      <td align="center" class="btnyel">产口许可证</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">地此绑定</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnred">用户管理</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">服务器普通访问</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">策略配置</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">网络调试工具</td>
    </tr>
    <tr>
      <td align="center" class="btnred">系统更新</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnred">高可靠性</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">用户列表</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnred">U D P访问</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">自定义检测</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">批处理工具</td>
    </tr>
    <tr>
      <td align="center" class="btnyel">模块升级</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">基本配置</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">用户组</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">基本配置</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">扫描检测配置</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" class="btnyel">导入导出</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">IP探测</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnred">时间管理</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">客户端透明访问</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">自动响应配置</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" class="btnred">管理配置</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">虚拟地此</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">时间列表</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">客户端普通访问</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">显示检测结果</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" class="btnyel">管理主机</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">负载均衡</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">时间组</td>
      <td align="center">&nbsp;</td>
      <td align="center" class="btnyel">服务器普通访问</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" class="btnyel">管理员帐号</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" class="btnyel">管理员证书</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" class="btnyel">管理方式</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" class="btnred">报告设置</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" class="btnyel">日志服务器</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" class="btnyel">集中管理</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
    </tr>
    </form>
  </table>
</div>
</body>
</html>
