<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/common.css" type="text/css" />
<title>LeadSec网御 安全隔离网闸 </title>
</head>
<style type="text/css">
#bottom {
	height: 20px;
	width: 99%;
	border: 1px solid #B4C9C6;
	margin: 6px 0 0 0;
	background-color:#FFFFFF;
	padding: 5px 0 5px 0;
	overflow: auto;
	text-align:center;
	line-height:20px;
}
</style>
<body>
<div id="bottom">@ 2010-2020 北京网御星云信息技术有限公司版权所有</div>
</body>
</html>
