<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/common.css" type="text/css" />
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/zdialog/zDialog.js" ></script>
<title>LeadSec网御 安全隔离网闸</title>
</head>
<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="bottom">
    <iframe src="topframe.html" height="50" frameborder="0"  scrolling="no" id="topFrame"></iframe>
    </td>
  </tr>
</table>



<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="199" align="center" valign="top">
    	<iframe src="leftframe.html" width="199" name="leftFrame" frameborder="0" scrolling="no"  id="leftFrame" title="leftFrame" ></iframe>
    </td>
    <td width="7" valign="middle">
    	<iframe src="switchframe.html" width="7" name="midFrame" frameborder="0" scrolling="No" id="midFrame" title="midFrame"></iframe>
    </td>
    <td align="center" valign="top">
	<iframe src="mainframe.html" name="mainFrame" height="59" frameborder="0" scrolling="no"  id="mainFrame" title="mainFrame"></iframe>
    <iframe src="maninfo.html" name="manFrame" frameborder="no" id="manFrame"  title="manFrame" ></iframe>
    </td>
  </tr>
</table>

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top">
  <iframe src="bottomframe.html" name="bottomframe" height="40" frameborder="no" scrolling="no" id="bottomframe" title="bottomframe" ></iframe>
    </td>
  </tr>
</table>

<script type="text/javascript">
	$(document).ready(function(){
			changeWindow();				   
	});
	function changeWindow(){
		var width1=document.documentElement.clientWidth;
		//var height1=document.body.scrollHeight;
		var height1=document.documentElement.clientHeight;
		//$('#tablemain').style.width=width1+'px';
		$('#tablemain').css("width",width1+'px');
		//$('#tablemain').style.height=height1+'px';
		
		var var_height=height1-92
		var var_width=width1-206
		//alert(var_height);
		$('#topFrame').css("width",(width1)+'px');
		$('#bottomframe').css("width",(width1)+'px');
		
		$('#leftFrame').css("height",var_height+'px');
		
		$('#mainFrame').css("width",var_width+'px');
		$('#manFrame').css("width",var_width+'px');
		$('#manFrame').css("height",(var_height-60)+'px');
	}
	$(window).resize(function(){
 		 changeWindow();
	});
</script>
</body>
</html>
