<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title>添加用户</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//changeClientId('man_zone');
		document.getElementById("man_zone").style.height='280px';
		$('.inputtext').jqTransInputText({imgPath:'../../js/jqtransformplugin/img/'});
		$('.inputselect').jqTransSelect({imgPath:'../../js/jqtransformplugin/img/'});
		//$('form').jqTransform({imgPath:'../../js/jqtransformplugin/img/'});
		$('#section1').click(function(){
					$('#sectionbody1').show();	
									  });
		$('#section1').blur(function(){
					$('#sectionbody1').hide();				 
									 
									 });
	});
</script>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
    <form action="xtcs.html" method="post">
      <tr>
        <td width="23%" class="left_title_1"><span class="red">*</span>名称: <br /></td>
        <td width="77%"><div class="rowElem">
          <input type="text" name="inputtext2" class="inputtext"/>
          &nbsp;(1-19个合法字符)</div></td>
      </tr>
      <tr>
        <td class="left_title_1"> 应用程序: <br /></td>
        <td><div class="rowElem">
          <label>
            <input name="radio" type="radio" id="radio9" value="radio" checked="checked" />
          </label>
          全选
          <label>
            <input type="radio" name="radio" id="section1" value="sec1" />
          </label>
          部分选择
          <label>
            <input type="radio" name="radio" id="radio11" value="radio" />
          </label>
          不选择 </div>
          <div style="display:none; border:#06C 1px solid" id="sectionbody1">
          <label>
            <input type="checkbox" name="checkbox2" id="checkbox2" />
            全选
            </label>
            <label>
            <input type="checkbox" name="checkbox3" id="checkbox3" />
            部分选择
            </label>
            <label>
            <input type="checkbox" name="checkbox4" id="checkbox4" />
            不选择
            </label>
             </div></td>
      </tr>
      <tr>
        <td class="left_title_1"> 视频类: <br /></td>
        <td><div class="rowElem">
          <label>
            <input name="radio1" type="radio" id="radio12" value="radio" checked="checked" />
          </label>
          全选
          <label>
            <input type="radio" name="radio1" id="radio13" value="radio" />
          </label>
          部分选择
          <label>
            <input type="radio" name="radio1" id="radio14" value="radio" />
          </label>
          不选择 </div></td>
      </tr>
      <tr>
        <td class="left_title_1"> 音频类: <br /></td>
        <td><div class="rowElem">
          <label>
            <input name="radio2" type="radio" id="radio15" value="radio" checked="checked" />
          </label>
          全选
          <label>
            <input type="radio" name="radio2" id="radio16" value="radio" />
          </label>
          部分选择
          <label>
            <input type="radio" name="radio2" id="radio17" value="radio" />
          </label>
          不选择 </div></td>
      </tr>
      <tr>
        <td class="left_title_1">图像类: <br /></td>
        <td><div class="rowElem">
          <label>
            <input name="radio3" type="radio" id="radio18" value="radio" checked="checked" />
          </label>
          全选
          <label>
            <input type="radio" name="radio3" id="radio19" value="radio" />
          </label>
          部分选择
          <label>
            <input type="radio" name="radio3" id="radio20" value="radio" />
          </label>
          不选择 </div></td>
      </tr>
      <tr>
        <td class="left_title_1">文本类: <br /></td>
        <td><div class="rowElem">
          <label>
            <input name="radio4" type="radio" id="radio" value="radio" checked="checked" />
          </label>
          全选
          <label>
            <input type="radio" name="radio4" id="radio2" value="radio" />
          </label>
          部分选择
          <label>
            <input type="radio" name="radio4" id="radio8" value="radio" />
          </label>
          不选择 </div></td>
      </tr>
    </form>
  </table>
</div>
</body>
</html>
