#textareaA {
    width:98%;
    background:#cccccc
}

#textareaB{
    width:98%;
    color: blue ;
}

table {
    margin: 5px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #DBE6E3;
}

th, td{
    text-align: left;
    border: 1px solid #DBE6E3;
    padding: 0px 20px;
}

th {
    line-height: 30px;
    color: #73938E;
    background-color: #F3F8F7;
}

caption {
    text-align: left;
    background-color: #a5c8e7;
    color:#000;
    font-weight:bold;
    padding-left: 5px;
}

caption a {
    float: right;
    padding-right: 10px;
}

* html caption a {
    margin-top: -20px;
}

.textMid th, .textMid td {
    text-align: center;
}
.tdheader{ padding:4px 10px 4px 4px; text-align:right;}
.tdbody{ padding:4px 4px 4px 10px; text-align:left;}

.version {
    background-color: #FFFFFF;
}

.version th {
    line-height: 30px;
}

.version .select {
    background-color: #458FFF;
    color: #FFFFFF;
}

#advSearchTable .searchParamTr {
    height: 35px;
}
#advSearchTable .col1 {
    width: 25%
}
#advSearchTable .col2 {
    width: 75%
}

/*=================================
 * configration by liuchao start 
 *---------------------------------*/
.configration {
    margin:15px auto;
    width:50%;
}
.configration label {
    padding:0 10px;
}
.configration caption {
    text-align:center;
}
.configration tr td {
    border:0;
}
.configration tr td.btn {
    text-align:center;
    padding-bottom:15px;
}
.configration table, .configration table tr td {
    border:0;
}
.configration table tr td input {
    width:auto;
}
.configration table.timeout input {
    width:60px;
}
/*---------------------------------
 * configration by liuchao end 
 *=================================*/
