<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title>管理区域</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		changeClientId('man_zone');
		$('form').jqTransform({imgPath:'../../js/jqtransformplugin/img/'});
		//$('.inputbtn').jqTransInputButton({imgPath:'../../js/jqtransformplugin/img/'});
	});
</script>
</head>

<body>
<div id="man_zone">
<table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style maginbotton12">
  <form action="xtcs.html" method="post">
    <tr>
      <td width="79%">
     
      
      </td>
      <td width="21%">
       <div class="rowElem">
			<label> 设备 :</label>
			<select name="select">
				 <option>fs1</option>
                  <option>fs2</option>
                  <option>fs3</option>
			</select>
            &nbsp;&nbsp;
             <input type="button" name="button" id="button" value="刷新" class="inputbtn" />
		</div>
        </td>
    </tr>
  </form>
</table>
<table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style maginbotton12">
  <form action="xtcs.html" method="POST">
    <tr>
      <td colspan="6" class="tabletop">网络设备 fe1 当前接收状态</td>
    </tr>
    <tr class="center_title_2">
      <td class="center_title_2">Bytes </td>
      <td class="center_title_2">0</td>
      <td class="center_title_2">Packets </td>
      <td class="center_title_2">0</td>
      <td class="center_title_2">Errs</td>
      <td class="center_title_2">0</td>
    </tr>
    <tr class="center_title_2">
      <td class="center_title_2">Drop </td>
      <td class="center_title_2">0</td>
      <td class="center_title_2">Fifo</td>
      <td class="center_title_2">0</td>
      <td class="center_title_2">Frame </td>
      <td class="center_title_2">0</td>
    </tr>
    <tr class="center_title_2">
      <td width="18%" class="center_title_2">Compressed </td>
      <td width="10%" class="center_title_2">0</td>
      <td width="19%" class="center_title_2">multicast </td>
      <td width="10%" class="center_title_2">0</td>
      <td width="22%" class="center_title_2">&nbsp;</td>
      <td width="21%" class="center_title_2">&nbsp;</td>
    </tr>
    </form>
  </table>
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style maginbotton12">
    <form action="xtcs.html" method="post">
      <tr>
        <td colspan="6" class="tabletop">网络设备 fe1 当前发送状态</td>
      </tr>
      <tr class="center_title_2">
        <td class="center_title_2">Bytes </td>
        <td class="center_title_2">0</td>
        <td class="center_title_2">Packets </td>
        <td class="center_title_2">0</td>
        <td class="center_title_2">Errs</td>
        <td class="center_title_2">0</td>
      </tr>
      <tr class="center_title_2">
        <td class="center_title_2">Drop </td>
        <td class="center_title_2">0</td>
        <td class="center_title_2">Fifo</td>
        <td class="center_title_2">0</td>
        <td class="center_title_2">colls </td>
        <td class="center_title_2">0</td>
      </tr>
      <tr class="center_title_2">
        <td width="18%" class="center_title_2">carrier </td>
        <td width="10%" class="center_title_2">0</td>
        <td width="19%" class="center_title_2">commpressed </td>
        <td width="10%" class="center_title_2">0</td>
        <td width="22%" class="center_title_2">&nbsp;</td>
        <td width="21%" class="center_title_2">&nbsp;</td>
      </tr>
    </form>
  </table>
</div>
</body>
</html>
