<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title>管理区域</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/zdialog/zDialog.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		changeClientId('man_zone');
		$('form').jqTransform({imgPath:'../../js/jqtransformplugin/img/'});
		$('#showzt').click(function(){
			win('wlsb_dqzt.html',900,580,'当前状态');						 
		});
		$('#showtj').click(function(){
			win('wlsb_tjt.html',900,500,'统计图');						 
		});
	});
</script>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style maginbotton12">
  <form action="xtcs.html" method="POST">
    <tr>
      <td colspan="5" class="tabletop">网络设备 </td>
    </tr>
    <tr>
      <td class="center_title_1">网络设备:</td>
      <td class="center_title_1">状态</td>
      <td colspan="3" class="center_title_1">流量</td>
    </tr>
    <tr class="center_title_2">
      <td class="center_title_2">fe1</td>
      <td class="center_title_2"><img src="../../images/icon/stoplink.gif" width="16" height="18" /></td>
      <td class="center_title_2">发送 0 字节 </td>
      <td class="center_title_2">接收 0 字节 </td>
      <td class="center_title_2">
      
      <a href="#" id="showzt">当前状态</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
     <a href="#" id="showtj">统计图</a>
      
      </td>
    </tr>
    <tr class="center_title_2">
      <td class="center_title_2">fe2</td>
      <td class="center_title_2"><img src="../../images/icon/showlink.gif" alt="" width="16" height="18" /></td>
      <td class="center_title_2">发送234 字节 </td>
      <td class="center_title_2">接收3456 字节 </td>
      <td class="center_title_2"><a href="#">当前状态</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">统计图</a></td>
    </tr>
    <tr class="center_title_2">
      <td width="18%" class="center_title_2">fe3</td>
      <td width="17%" class="center_title_2"><img src="../../images/icon/stoplink.gif" alt="" width="16" height="18" /></td>
      <td width="18%" class="center_title_2">发送 0 字节 </td>
      <td width="15%" class="center_title_2">接收0 字节 </td>
      <td width="32%" class="center_title_2"><a href="#">当前状态</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">统计图</a></td>
    </tr>
    </form>
  </table>
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
    <form action="xtcs.html" method="post">
      <tr>
        <td colspan="5" class="tabletop">&nbsp;</td>
      </tr>
      <tr>
        <td width="18%" class="left_title_1">网闸隔离卡状态:</td>
        <td class="center_title_2"><img src="../../images/icon/stoplink.gif" alt="" width="16" height="18" /></td>
        <td colspan="3" class="right_title_2">&nbsp;</td>
      </tr>
      <tr class="center_title_2">
        <td class="left_title_1">设备监控服务:</td>
        <td width="17%" class="center_title_2"><img src="../../images/icon/showlink.gif" width="16" height="18" /></td>
        <td width="18%" class="right_title_2"><label>
          <input type="button" name="button" id="button" value="启动" />
        </label></td>
        <td width="15%" class="right_title_2"><input type="button" name="button2" id="button2" value="刷新" /></td>
        <td width="32%" class="right_title_2"><input type="button" name="button3" id="button3" value="清空数据文件" /></td>
      </tr>
    </form>
  </table>
</div>
</body>
</html>
