/* innerPage */
/* headline */
.headline {
    width: 650px;
    font-size : 14px;
    overflow: hidden;
}

.headline label {
    float: left;
    color: rgb(78, 117, 154);
    padding-right: 10px;
}

/* form */
.form {
    margin-top: 5px;
}
.form label {
    margin-left: 1em;
    font-size: 14px;
    padding-right: 20px;
}

.itemTitle {
    color:#777777;
    font-size : 16px;
    padding-bottom:10px
}


.mainContent {
    float:left;
    height : 500px;
    width : 910px;
}


