fieldset {
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #CCC;
    background: #F8F8F8;
}

legend {
    font-weight: bold;
}

fieldset label {
    float: left;
    text-align: left;
    width: 10em;
    color: #73938e;
    background-color: #f3f8f7;
    font-weight: bold;
    cursor: pointer;
}

fieldset .row {
    padding: 5px 0px;
    clear: left;
}

fieldset .tip {
    width: 200px;
}

fieldset select {
    float: left;
}

fieldset input {
    width: 10em;
    float: left;
}
fieldset .checkbox {
    width: 1em;
}
fieldset span {
    float: left;
    margin-right: 1em;
}

fieldset .radio {
    width: auto;
}

fieldset .remark {
    width: 20em;
}
