fieldset {
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #CCC;
    background: #F8F8F8;
}

legend {
    font-weight: bold;
}

fieldset label {
    float: left;
    text-align: left;
    width: 10em;
    color: #73938e;
    background-color: #f3f8f7;
    font-weight: bold;
    cursor: pointer;
}

fieldset .row {
    padding: 5px 0px;
    clear: left;
}

fieldset .tip {
    width: 200px;
}

fieldset .multiSelect {
    width: 10em;
}

fieldset select, fieldset b, fieldset textarea {
    float: left;
}

fieldset b {
    margin: 0 1em;
}

fieldset input {
    width: 10em;
    float: left;
}
fieldset .checkboxLabel, fieldset .radioLabel {
    width: auto;
    margin-right: 2em;
}
fieldset .checkbox, fieldset .radio {
    width: 1em;
}
fieldset>span {
    float: left;
    margin-right: 1em;
}

fieldset .note {
    width: auto;
}

fieldset .remark {
    width: 20em;
}

fieldset label.error {
    width: auto;
    float: right;
}

fieldset button.addBtn {
    margin-left: 2em;
}

fieldset div.twofa {
    margin-left: 10%;
}

fieldset label.longLabel {
    width: 250px;
}

hr {
    border: 1px dashed #e9e9e9
}

.uploadFile {
    width: 300px
}
