#textareaA {
	width:98%;
	background:#cccccc
}

#textareaB{
	width:98%;
}

table {
    margin: 5px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #DBE6E3;
}

th, td{
    text-align: left;
    border: 1px solid #DBE6E3;
    padding: 0px 20px;
}

th {
    line-height: 30px;
    color: #73938E;
    background-color: #F3F8F7;
}

caption {
    text-align: left;
	background-color: #8BBEED;
    color:#FFF;
    font-weight:bold;
    padding-left: 5px;
}

caption a {
    float: right;
    padding-right: 10px;
}

.textMid th, .textMid td {
    text-align: center;
}
.tdheader{ padding:4px 10px 4px 4px; text-align:right;}
.tdbody{ padding:4px 4px 4px 10px; text-align:left;}
