.uploadText {
    float: left;
    border: 1px solid #CDCDCD;
    margin-right: 5px;
}

.uploadBtn {
    float: left;
    background-color: #FFF;
    border: 1px solid #cdcdcd;
    width: 70px;
}

.uploadEle {
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
	filter:alpha(opacity=0)
}
