<div class="l1" name="systemManagement">
    <span>系统管理</span>
</div>
<div class="l2" name="systemManagement">
    <ul>
        <li><a href="overview">系统概览</a></li>
        <li><a href="#">快捷配置</a></li>
        <li><a href="conf">配置</a></li>
        <li><a href="#">管理员设置</a></li>
        <li><a href="#">维护</a></li>
    </ul>
</div>
<div class="l1" name="networkManagement">
    <span>网络管理</span>
</div>
<div class="l2" name="networkManagement">
    <ul>
        <li><a href="#">网络接口</a></li>
        <li><a href="#">基本配置</a></li>
        <li><a href="#">高可用性</a></li>
    </ul>
</div>
<div class="l1" name="resConf">
    <span>资源配置</span>
</div>
<div class="l2" name="resConf">
    <ul>
        <li><a href="#">地址</a></li>
        <li><a href="#">时间</a></li>
        <li><a href="#">用户</a></li>
        <li><a href="#">地址绑定</a></li>
    </ul>
</div>
<div class="l1" name="cModControl">
    <span>客户端</span>
</div>
<div class="l2" name="cModControl">
    <ul>
        <li><a href="#">文件交换</a></li>
        <li><a href="#">数据库同步</a></li>
        <li><a href="#">安全浏览</a></li>
        <li><a href="#">FTP访问</a></li>
        <li><a href="#">邮件访问</a></li>
        <li><a href="#">数据库访问</a></li>
        <li><a href="#">定制访问</a></li>
        <li><a href="#">安全通道</a></li>
        <li><a href="#">消息传输</a></li>
    </ul>
</div>
<div class="l1" name="sModControl">
    <span>服务端</span>
</div>
<div class="l2" name="sModControl">
    <ul>
        <li><a href="#">文件交换</a></li>
        <li><a href="#">数据库同步</a></li>
        <li><a href="#">安全浏览</a></li>
        <li><a href="#">FTP访问</a></li>
        <li><a href="#">邮件访问</a></li>
        <li><a href="#">数据库访问</a></li>
        <li><a href="#">定制访问</a></li>
        <li><a href="#">安全通道</a></li>
        <li><a href="#">消息传输</a></li>
    </ul>
</div>

<div class="l1" name="appS">
    <span>应用防护</span>
</div>
<div class="l2" name="appS">
    <ul>
        <li><a href="#">病毒防护</a></li>
        <li><a href="#">入侵防护</a></li>
    </ul>
</div>
<div class="l1" name="statMonitor">
    <span>状态监控</span>
</div>
<div class="l2" name="statMonitor">
    <ul>
        <li><a href="#">资源状态</a></li>
        <li><a href="#">网络状态</a></li>
        <li><a href="#">用户状态</a></li>
        <li><a href="#">网络测试</a></li>
    </ul>
</div>
<div class="l1" name="log">
    <span>日志与报表</span>
</div>
<div class="l2" name="log">
    <ul>
        <li><a href="#">日志配置</a></li>
        <li><a href="#">日志访问</a></li>
    </ul>
</div>
<script type="text/javascript">
    function showPageByAjax(page) {
        $("#mainZone").html("loading... ...").load("test.php", function() {
            var contentH  = $("#mainZone>.mainContent").outerHeight();
            var leftmenuH = $("#leftmenu").outerHeight();
            contentH > leftmenuH ? $("#leftmenu").outerHeight(contentH) : $("#mainZone>.mainContent").outerHeight(leftmenuH);
            refreshTab();
        });
    }
    $(document).ready(function() {
        $("#leftmenu a").click(function() {
            var toHref = $(this).attr("href");
            var groupName  = $(this).parents("div.l2").attr("name");
            $("#leftmenu a").css("color", "#555").css("font-weight", "normal");
            $(this).css("color", "#0099CC").css("font-weight", "bold");
            showPageByAjax(groupName + '/' + toHref);
            return false;
        });
    });
</script>
