<ul>
    <li>系统配置</li>
    <li>网络配置</li>
    <li>资源定义</li>
    <li>定制访问</li>
    <li>抗攻击设置</li>
    <li>系统监控</li>
    <li>病毒防护</li>
    <li>数据库同步</li>
</ul>
<script  type="text/javascript">
function showInnerText(id){
	var showText = "i don`t know";
	switch(id){
	    case 1:
		   showText =  "headline2";
		   break;
	    case 2:
		   showText =  "system setting!";
		   break;
	    case 3:
		   showText =  "User Manage";
		   break;		   
	    case 4:
		   showText =  "Chanage Manage";
		   break;	
	    case 5:
		   showText =  "Ad AND news!";
		   break;		   		   
	}
	$("#show_text").html(showText);
}
</script>
