body {
	margin: 0px;
    padding: 0px;
}

html {
	margin: 0px;
    padding: 0px;
	background-color: #F9F9F9;
}

body {
	background-color: #F9F9F9;
	font-family: Verdana, Arial,Vrinda,Tahoma;
	line-height: 175%;
	font-size:12px;
	color:#666;
    text-align: center;
}

a {
	color: #555;
	text-decoration:none;
}

a:hover {
	color: #0099CC;
}

img {
    border-width: 0px;
	display: inline;
}

ul {
    margin: 0;
	padding: 0;
	list-style-position: outside;
	list-style-type: none;
}

li {
	margin: 0;
	padding: 0;
}

div {
	margin: 0;
	padding: 0;
}

/* LAYOUT */
.wrapper {
	margin: 0 auto;
	padding: 0px;
    text-align: left;
    display: inline;
}
.wrapper, .header, #content, .footer{
	width: 100%;
}

.header {
    height: 50px;
}

#mainContent {
    float: right;
}

#content .secondary {
    width: 206px;
    float: left;
    
}

.footer {
    height: 40px;
    clear: both;
}

/* HEADER */
/* LOGO */
.header .logo {
	float: left;
	height: 50px;
	width: 20%;
}

.header .logo img {
    float: left;
}


/* HEADER */
/* right_nav */
.header .right_nav {
	float: right;
	width: 80%;
	height: 50px;
}

.header .right_nav .text_left {
	float: left;
	width: 20%;
	padding: 22px 0 0 0;
	color: #CC3300;
}
.header .right_nav .text_left label {
}


.header .right_nav .text_right {
	float: right;
	width: 80%;
	display: inline;
	padding: 22px 0 0 0;
	text-align: right;
}

.header .right_nav .text_right a {
	display: inline;
	color:#3399CC;
}

/* NAV & CONTENT */
/* USERINFO */
#content .secondary .userinfo {
    height: 55px;
    padding: 10px 0px 0px 55px;
    background-image: url(../images/manage_r2_c1.jpg);
    background-repeat: no-repeat;
}

#content .secondary .userinfo a {
    color: #0099CC;
}

/* NAV & CONTENT */
/* LEFTMENU */
#leftmenu {
	float: right;
    margin-right: 10px;
	width: 190px;
    border: 1px solid #B4C9C6;
	background-color: #FFFFFF;
	height: 455px;
	text-align: left;
}

/* NAV & CONTENT */
/* MAINCONTENT */ 
#mainContent {
}


/* FOOTER */
.footer .bottom {
    border: 1px solid #B4C9C6;
    margin: 6px 0 0 0;
    background-color:#FFFFFF;
    padding: 5px 0 5px 0;
    overflow: auto;
    text-align:center;
    line-height:20px;
}



/* REST */
.left_back{
	background-image: url(../images/manage_r7_c2.jpg);
	background-repeat: no-repeat;
	cursor:pointer;
}
.left_back_onclick{
	background-image: url(../images/manage_r6_c2.jpg);
	background-repeat: no-repeat;
	color:#333333;
}
.list_tilte {
	background-image: url(../images/list_title.gif);
	background-repeat: no-repeat;
	margin: 0 auto;
	clear: both;
	height: 22px;
	width: 140px;
	padding-left: 30px;
	font-weight: bold;
	color: #0099CC;
	margin-top: 9px;
	cursor:pointer;
}
.list_tilte_onclick {
	background-image: url(../images/list_title_onclick.gif);
	background-repeat: no-repeat;
	margin: 0 auto;
	clear: both;
	height: 22px;
	width: 140px;
	padding-left: 30px;
	font-weight: bold;
	color: #0099CC;
	margin-top: 9px;
	cursor:pointer;
}
.list_detail {
	margin: 0 auto;
}
.list_detail li{
	list-style-image: url(../images/direct_blue.gif);
	list-style-position: inside;
	padding: 0 0 0 4px;
    }

#switchpic {
	width: 6px;
	cursor:pointer;
	clear: both;
	vertical-align: bottom;
	margin-top: 220px;
}
#nav {
	width:99%;
	float:left;
	background-image: url(../images/nav_bg.jpg);
}
#nav ul { 
      margin:0; 
	  list-style:none; 
	  padding: 0;
 }
#nav li {
     float:left; 
	 margin:0; 
	 padding:2px 35px 0 30px;
	 line-height:24px;
	 font-weight:bold;
}
.bg_image{
	 background: url(../images/manage_r2_c14.jpg) no-repeat;
	 cursor:pointer;
}
.bg_image_onclick{
	 background: url(../images/manage_r2_c13.jpg) no-repeat;
	 color:#0099CC;
}
#sub_info {
	width: 99%;
	float:left;
	background-image: url(../images/manage_r3_c11.jpg);
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #B4C9C6;
	border-bottom-color: #B4C9C6;
	border-left-color: #B4C9C6;
	height: 27px;
	background-repeat: repeat-x;
	padding: 5px 0 0 0;
}
#man_zone {
	height: 445px;
	width: 99%;
	border: 1px solid #B4C9C6;
	margin: 6px 0 0 0;
	background-color:#FFFFFF;
	padding: 5px 0 5px 0;
	overflow: auto;
}
#man_zone table{
    background-color:#DBE6E3;
}
#man_zone table tr{
    background-color:#fff;
}
.left_title_1 {
	background-color: #F3F8F7;
	color:#73938E;
	font-weight:bold;
	line-height:30px;
	text-align:right
}
.left_title_2 {
	background-color: #fff;
	color:#73938E;
	font-weight:bold;
	line-height:30px;
	text-align:right;
}
