body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Arial, Vrinda, Tahoma;
    font-size: 16px;
    text-align: center;
    background-color: #EEEEEE;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

h3 {
    margin: 20px 0px 0px 100px;
    padding: 0px;
    width: 400px;
}

a {
    color: #5A5A5A;
}

/* BASE */
.indent {
    text-indent: 2em;
}

.float_left {
    float: left;
}

.float_right {
    float: right
}

.clear_float {
    clear: both;
}



/* LAYOUT */
/* WRAPPER */
.wrapper {
    width: 920px;
    margin: 0px auto;
    text-align: left;
}

/* HEADER */
.header {
    height: 85px;
    background-image: url("../images/header.gif");
}

/* FOOTER */
.footer {
    height: 30px;
    background: #D9EAFF;
    text-align: center;
}

.footer label {
    color: #005AA0;
    font-weight: bold;
    position: relative;
    top: 5px;
    font-size: 12px;
}

/* CONTENT */
.content {
    background: #FFFFFF;
    overflow: hidden;
}

.content .primary { 
    width: 700px;
    height: 520px;
    float: right;
    display: inline;
}

.content .primary .innerPage {
    padding:10px 0px 0px 10px;
    background: #F8F8F8;
    width: 690px;
    height: 480px;
}

.content .secondary {
    width: 220px;
    height: 520px;
    float: left;
    display: inline;
    background-image: url("../images/secondary_bg.jpg");
}


/* TAB */
.primary .tab {
    overflow: hidden;
    background-image: url("../images/tab_bg.jpg");
    height: 27px;
}


/* LOGO */
.logo_l {
    border: 1px solid grey;
    height: 50px;
    width: 50px;
    margin: 5px 0px 0px 20px;
}

.logo_r {
    border: 1px solid grey;
    height: 40px;
    width: 200px;
    margin: 0px;
}

.leadsecSIS_logo {
    position: absolute;
    top: 20px;
    left: 0px;
}

/* header */
.header .top_nav {
    position: relative;
    width: 700px;
    height: 80px;
}

.header .top_nav .toolbar_l {
    width: 280px;
    height: 40px; 
    position: absolute;
    top: 40px;
    left: 200px;
}

.header .top_nav .toolbar_r {
    font-size: 12px;
}

.header .top_nav .toolbar_r a {
    margin: 5px 0px 0px 20px;
    position: relative;
    top: 5px;
    text-decoration: none;
}

.header .top_nav .toolbar_r a:hover {
    text-decoration: underline;
}

/* HELP */
.border {
    border: 1px solid red;
}

#uploadManuFileForm {
    display: inline
}

.error, .red {
    font-weight: bold;
    color: red;
}

