/* a href */
.clicked {
    color: #005AA0;
    font-weight: bold;
    background-image: url("../images/clicked_leftmenu_bg.gif");
}

.tab_clicked {
    background-image: url("../images/clicked_tab_bg.png");
}
.
