/* innerPage */
/* headline */
.headline {
    width: 650px;
    font-size : 14px;
    overflow: hidden;
}

.headline label {
    float: left;
    color: rgb(78, 117, 154);
    padding-right: 10px;
}

/* form */
.form {
    margin-top: 5px;
    margin-left: 1em;
}

.form label {
    font-size: 14px;
    width: 10em;
}

.form button {
    margin-top: 5px;
}

.form .stat {
    position: relative;
    top: 4px;
    width: 20px;
    height: 20px;
    display: inline;
}

.form .loadImg {
    width: 20px;
    height: 20px;
}

.itemTitle {
    color:#777777;
    font-size : 16px;
    padding-bottom:10px
}


.mainContent {
    float:left;
    height : 500px;
    width : 910px;
}


