#mainContent{ background:#e1eaf1;}
#hotstandby{ margin-left:30px; background:#d6dde2; border:1px solid #c2c8cd; height:529px; padding:10px; position:relative;}
	
#midBox{position:relative; margin:0 0 0 80px;}
#midBox #midBox_left{ background:url(../images/imgha/gap_bg_l.png) no-repeat; height:479px; width:27px; float:left; }
#midBox #midBox_cen{  position:relative;background:url(../images/imgha/gap_bg_c.png) repeat-x; height:479px; float:left;}
#midBox #midBox_right{ background:url(../images/imgha/gap_bg_r.png) repeat-x; height:479px; width:27px; float:left; }

#mainBox{ position:absolute; top:0px; left:0px; width:100%;}
#chongBox{position:absolute; top:250px; left: 0px; width:100%;}

#leftline{position:absolute;left:56px;top: 162px;z-index:999;}
#rightline{position:absolute;top:96px;left:820px;z-index:999;}

.toptitle{ position:absolute; width:100%; left:0; top:0;}
.toptitle .title{position:absolute;left:15px;top:6px;}
.toptitle .gapstatus{position:absolute;right:120px;top:18px;color:#FFF;}
.toptitle .name{position:absolute;right:10px;top:18px;color:#FFF;}
.toptitle .name span{ color:#FF0; font-weight:bold}

.netcardtop{position:absolute;left:4px;top:92px;width: 100%;}
.netcardbottom{position:absolute;left:4px; top: 161px;width: 100%;}
.networkCard{ float:left; width:35px; height:26px; margin:0 10px 0 0}


.netcard_exact{ background:url(../images/imgha/netcard_exact.png) no-repeat; width:35px; height:26px;}
.netcard_nostart{ background:url(../images/imgha/netcard_nostart.png) no-repeat; width:35px; height:26px;}
.netcard_unusual{ background:url(../images/imgha/netcard_unusual.png) no-repeat; width:35px; height:26px;}

.gap_exact{ background:url(../images/imgha/gap_exact.png) no-repeat; padding-left:25px;}
.gap_nostart{ background:url(../images/imgha/gap_nostart.png) no-repeat; padding-left:25px;}
.gap_unusual{ background:url(../images/imgha/gap_unusual.png) no-repeat; padding-left:25px;}

#tipinfo{ position:absolute; left:8px; top:8px;}
#tipinfo{list-style:none;}
#tipinfo li{ color:#009; font-weight:bold}
