<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title>管理区域</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		document.getElementById("man_zone").style.height='380px';
		$('form').jqTransform({imgPath:'../../js/jqtransformplugin/img/'});
	});
</script>
</head>
<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
    <form action="xtcs.html" method="POST">
    <tr>
      <td width="13%" class="left_title_1"><span class="red"></span><span class="red">*</span> 虚拟地址:</td>
      <td width="12%"><div class="rowElem">
        <label>
          <select name="select" id="select">
            <option>fs2</option>
            </select>
        </label>
      </div></td>
      <td width="12%"  class="left_title_1"><span class="red">*</span>虚拟端口:</td>
      <td width="14%"><input type="text" name="textfield" id="textfield" size="6" /></td>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red"></span><span class="red">*</span> 真实地址1:</td>
      <td><input name="textfield3" type="text" id="textfield3" size="10" /></td>
      <td class="left_title_1"><span class="red">*</span> 端口1:</td>
      <td><input type="text" name="textfield2" id="textfield2"  size="6" /></td>
      <td width="13%" class="left_title_1"><span class="red">*</span> 真实地址2:</td>
      <td width="19%"><input name="textfield4" type="text" id="textfield4" size="10" /></td>
      <td width="10%" class="left_title_1"><span class="red">*</span> 端口2:</td>
      <td width="7%"><input type="text" name="textfield5" id="textfield5"  size="6" /></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red"></span>真实地址3:</td>
      <td><input name="textfield6" type="text" id="textfield6" size="10" /></td>
      <td class="left_title_1">端口3:</td>
      <td><input type="text" name="textfield6" id="textfield7"  size="6" /></td>
      <td class="left_title_1">真实地址4:</td>
      <td><input name="textfield6" type="text" id="textfield8" size="10" /></td>
      <td class="left_title_1">端口4:</td>
      <td><input type="text" name="textfield6" id="textfield9"  size="6" /></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red"></span>真实地址5:</td>
      <td><input name="textfield7" type="text" id="textfield21" size="10" /></td>
      <td class="left_title_1">端口5:</td>
      <td><input type="text" name="textfield7" id="textfield22"  size="6" /></td>
      <td class="left_title_1">真实地址6:</td>
      <td><input name="textfield7" type="text" id="textfield23" size="10" /></td>
      <td class="left_title_1">端口6:</td>
      <td><input type="text" name="textfield7" id="textfield24"  size="6" /></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red"></span>真实地址7:</td>
      <td><input name="textfield7" type="text" id="textfield25" size="10" /></td>
      <td class="left_title_1">端口7:</td>
      <td><input type="text" name="textfield7" id="textfield26"  size="6" /></td>
      <td class="left_title_1">真实地址8:</td>
      <td><input name="textfield7" type="text" id="textfield27" size="10" /></td>
      <td class="left_title_1">端口8:</td>
      <td><input type="text" name="textfield7" id="textfield28"  size="6" /></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red"></span>真实地址9:</td>
      <td><input name="textfield7" type="text" id="textfield29" size="10" /></td>
      <td class="left_title_1">端口9:</td>
      <td><input type="text" name="textfield7" id="textfield30"  size="6" /></td>
      <td class="left_title_1">真实地址10:</td>
      <td><input name="textfield7" type="text" id="textfield31" size="10" /></td>
      <td class="left_title_1">端口10:</td>
      <td><input type="text" name="textfield7" id="textfield32"  size="6" /></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red"></span>真实地址11:</td>
      <td><input name="textfield7" type="text" id="textfield33" size="10" /></td>
      <td class="left_title_1">端口11:</td>
      <td><input type="text" name="textfield7" id="textfield34"  size="6" /></td>
      <td class="left_title_1">真实地址12:</td>
      <td><input name="textfield7" type="text" id="textfield35" size="10" /></td>
      <td class="left_title_1">端口12:</td>
      <td><input type="text" name="textfield7" id="textfield36"  size="6" /></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red"></span>真实地址13:</td>
      <td><input name="textfield7" type="text" id="textfield37" size="10" /></td>
      <td class="left_title_1">端口13:</td>
      <td><input type="text" name="textfield7" id="textfield38"  size="6" /></td>
      <td class="left_title_1">真实地址14:</td>
      <td><input name="textfield7" type="text" id="textfield39" size="10" /></td>
      <td class="left_title_1">端口14:</td>
      <td><input type="text" name="textfield7" id="textfield40"  size="6" /></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red"></span>真实地址15:</td>
      <td><input name="textfield7" type="text" id="textfield17" size="10" /></td>
      <td class="left_title_1">端口15:</td>
      <td><input type="text" name="textfield7" id="textfield18"  size="6" /></td>
      <td class="left_title_1">真实地址16:</td>
      <td><input name="textfield7" type="text" id="textfield19" size="10" /></td>
      <td class="left_title_1">端口16:</td>
      <td><input type="text" name="textfield7" id="textfield20"  size="6" /></td>
    </tr>
  </form>
  </table>
</div>
</body>
</html>
