<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title>管理区域</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		document.getElementById("man_zone").style.height='380px';
		$('form').jqTransform({imgPath:'../../js/jqtransformplugin/img/'});
	});
</script>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
    <form action="xtcs.html" method="POST">
      <tr>
        <td class="left_title_1"><span class="red">*</span>选择绑定设备:</td>
        <td><div class="rowElem">
          <label>
            <select name="select" id="select">
            </select>
          </label>
          &nbsp;</div></td>
      </tr>
      <tr>
        <td class="left_title_1"><span class="red">*</span>选择别名ID:</td>
        <td><div class="rowElem">
          <select name="select2" id="select2">
          </select>
        </div></td>
      </tr>
      <tr>
        <td class="left_title_1"><span class="red">*</span>地址:</td>
        <td><div class="rowElem">
          <input type="text" name="inputtext"/>
        </div></td>
      </tr>
      <tr>
        <td class="left_title_1"><span class="red">*</span>掩码: </td>
        <td><div class="rowElem">
          <select name="select3" id="select3">
          </select>
        </div></td>
      </tr>
      <tr>
        <td class="left_title_1">IP地址获取:</td>
        <td><div class="rowElem">
          <select name="select4" id="select4">
          </select>
        </div></td>
      </tr>
      <tr>
        <td class="left_title_1">用于管理:</td>
        <td><div class="rowElem">
          <input type="checkbox" name="checkbox" id="checkbox" />
        </div></td>
      </tr>
      <tr>
        <td class="left_title_1">允许 PING:</td>
        <td><div class="rowElem">
          <input type="checkbox" name="checkbox2" id="checkbox2" />
        </div></td>
      </tr>
      <tr>
        <td class="left_title_1">允许 Traceroute:</td>
        <td><div class="rowElem">
          <input type="checkbox" name="checkbox3" id="checkbox3" />
        </div></td>
      </tr>
      <tr>
        <td width="46%" class="left_title_1">是否启用:</td>
        <td width="54%"><div class="rowElem">
          <input type="checkbox" name="checkbox7" id="checkbox7" />
        </div></td>
      </tr>
    </form>
  </table>
</div>
</body>
</html>
