<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title>管理区域</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		document.getElementById("man_zone").style.height='180px';
		$('form').jqTransform({imgPath:'../../js/jqtransformplugin/img/'});
	});
</script>
</head>
<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
    <form action="xtcs.html" method="POST">
    <tr>
      <td width="31%" class="left_title_1"><span class="red">*</span>网络接口:</td>
      <td width="69%"><div class="rowElem">
        <label>
          <select name="select" id="select">
            <option>fs2</option>
            </select>
        </label>
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red">*</span>地址/掩码:</td>
      <td><div class="rowElem">
        <select name="select2" id="select3">
          <option>fs2</option>
          <option>fs3</option>
        </select>
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red"></span>说明:</td>
      <td><div class="rowElem"> 地址/掩码为别名设备的地址和掩码。<br />
别名设备可以在 <br />
网络配置 &gt;&gt; 网络设备 &gt;&gt; 别名设备 进行添加。</div></td>
    </tr>
  </form>
  </table>
</div>
</body>
</html>
