<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title>添加用户</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//changeClientId('man_zone');
		document.getElementById("man_zone").style.height='380px';
		$('.inputtext').jqTransInputText({imgPath:'../../js/jqtransformplugin/img/'});
		$('.inputselect').jqTransSelect({imgPath:'../../js/jqtransformplugin/img/'});
		//$('form').jqTransform({imgPath:'../../js/jqtransformplugin/img/'});
	});
</script>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
  <form action="xtcs.html" method="POST">
    <tr>
      <td width="23%" class="left_title_1"><span class="red">*</span>任务号: <br /></td>
      <td width="77%"><div class="rowElem">
        <input type="text" name="inputtext2" class="inputtext"/>
        &nbsp;(同一端的任务号必须唯一)</div></td>
    </tr>
    <tr>
      <td class="left_title_1">源地此: <br /></td>
      <td><div class="rowElem">
        <label>
          <select name="select" class="w200" id="select">
          </select>
        </label>
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red">*</span>本机地此:<br /></td>
      <td><div class="rowElem">
        <label>
          <select name="select" class="w200" id="select">
            </select>
        </label>
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red">*</span>本机端口: <br /></td>
      <td><div class="rowElem">
        <input type="text" name="inputtext"  class="inputtext"/>
        (1-65535)
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1"> 身份认证及加密传输: <br /></td>
      <td><div class="rowElem">
        <label>
          <input name="radio" type="radio" id="radio" value="radio" checked="checked" />
        </label>
        是
        <label>
          <input type="radio" name="radio" id="radio2" value="radio" />
        </label>
        否
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red">*</span> 客户端证书公共名: <br /></td>
      <td><div class="rowElem">
        <input type="text" name="inputtext"  class="inputtext"/>
        ( 0-3650 天，0表示不限制 ) </div></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red"></span>病毒扫描：<br /></td>
      <td><div class="rowElem">
        <label>
          <input name="radio1" type="radio" id="radio5" value="radio" checked="checked" />
        </label>
        否
        <label>
          <input type="radio" name="radio1" id="radio6" value="radio" />
        </label>
        二进制文件扫描
        <label>
          <input type="radio" name="radio1" id="radio7" value="radio" />
        </label>
        全扫描
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red"></span><span class="red">*</span>是否启动：<br /></td>
      <td><div class="rowElem">
        <label>
          <input name="radio1" type="radio" id="radio3" value="radio" checked="checked" />
        </label>
        启动
        <label>
  <input type="radio" name="radio1" id="radio4" value="radio" />
</label>
        停止
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1">生效时段:<br /></td>
      <td><div class="rowElem">
        <label>
          <select name="select2" class="w200" id="select3">
          </select>
        </label>
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1">备注：<br /></td>
      <td><div class="rowElem">
        <input type="text" name="inputtext"  class="inputtext"/>
        &nbsp;</div></td>
    </tr>
    </form>
  </table>
</div>
</body>
</html>
