<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="../../js/checkbox/jquery.tzCheckbox.css" />
<link rel="stylesheet" href="../../js/pagination/pagination.css" type="text/css" media="all" />
<title>管理区域</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/pagination/jquery.pagination.js" ></script>
<script type="text/javascript" src="../../js/checkbox/jquery.tzCheckbox.js" ></script>
<script type="text/javascript" src="../../js/zdialog/zDialog.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		changeClientId('man_zone');
		$('.inputbtn').jqTransInputButton({imgPath:'../../js/jqtransformplugin/img/'});
		$('.inputtext').jqTransInputText({imgPath:'../../js/jqtransformplugin/img/'});
		//$('#allowmore').tzCheckbox({labels:['Enable','Disable']});
		$('#addInfo').click(function(){
			rsEdit('serverptfwedit.html',600,240,'信息添加');						 
		});
		$('#delInfo').click(function(){
			var url='#'
			rsDel(url);				 
		});
		//分页
		var initPagination = function() {
			var num_entries = $("#hiddenresult div.result").length;
			num_entries=3;
			// 创建分页
			$("#Pagination").pagination(num_entries, {
				num_edge_entries: 1, //边缘页数
				num_display_entries: 4, //主体页数
				callback: pageselectCallback,
				items_per_page:1 //每页显示1项
			});
		 }();
		 
		function pageselectCallback(page_index, jq){
			//var new_content = $("#hiddenresult div.result:eq("+page_index+")").clone();
			new_content='';
			$("#Searchresult").empty().append(new_content); //装载对应分页的内容
			return false;
		}
		//分页结束
		
	});
	function edituser(id){
		rsEdit('yhlbedit.html',600,450,'用户编辑');		
	}

	
</script>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
    <tr>
      <td colspan="6" class="tabletop">服务端普通访问 </td>
    </tr>
    <tr>
      <td class="center_title_1">任务号</td>
      <td class="center_title_1">服务器地此</td>
      <td width="24%" class="center_title_1">服务器端口</td>
      <td width="12%" class="center_title_1">是否启动</td>
      <td width="21%" class="center_title_1">备注</td>
      <td class="center_title_1">操作</td>
    </tr>
    <tr>
      <td width="8%" class="center_title_2">&nbsp;</td>
      <td width="17%" class="center_title_2">&nbsp;</td>
      <td class="center_title_2">&nbsp;</td>
      <td class="center_title_2">&nbsp;</td>
      <td class="center_title_2">&nbsp;</td>
      <td width="18%" class="center_title_2">
        <a href="#"><img src="../../images/icon/edit.gif" alt="" width="16" height="16" /></a> &nbsp;&nbsp;&nbsp; 
        
      <a href="#" id="delInfo"> <img src="../../images/icon/delete.png" alt="" width="16" height="16" /></a></td>
    </tr>
    <tr>
      <td class="center_title_1">&nbsp;</td>
      <td colspan="5" class="right_title_1">
      <input name="input" type="button" value="添加" class="inputbtn" id="addInfo" /></td>
    </tr>
     <tr>
      <td colspan="6" align="right">
      	<div id="Pagination" class="pagination"><!-- 这里显示分页 --></div>
<div id="Searchresult">分页初始化完成后这里的内容会被替换。</div>
<!--<div id="hiddenresult" style="display:none;">
    <div class="result">第1项内容</div>
</div>-->
      </td>
    </tr>
  </table>
</div>
</body>
</html>
