<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title>管理区域</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/zdialog/zDialog.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		changeClientId('man_zone');
		$('form').jqTransform({imgPath:'../../js/jqtransformplugin/img/'});
		
	});
</script>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="0" cellspacing="1" class="table_style">
  <form action="xtcs.html" method="POST">
    <tr>
      <td colspan="3" class="tabletop">策略配置 </td>
    </tr>
    <tr>
      <td class="left_title_1">检测策略 </td>
      <td class="center_title_1"> 生效</td>
      <td width="619" class="center_title_1">帮助</td>
    </tr>
    <tr>
      <td class="left_title_2">自定义检测:</td>
      <td class="center_title_2"><a href="#"><img src="../../images/icon/select.png" /></a></td>
      <td rowspan="12" valign="top">
      		<div id="showhelp" style="padding:0 15px">
      		  <p><strong>用户自定义攻击检测</strong></p>
      		  <p>根据用户自己定义的攻击特征进行检测。</p>
      		  <p>点击此条链接将进入自定义检测页面。      		  </p>
      		  <p>注意：使用自定义检测规则必须经过慎重考虑，如果定义了不恰当的检测规则，有可能使安全网关的入侵检测效率降低。如果此时使用了自动响应功能，则有可能出现意想不到的后果，比如阻断了不该阻断的网络连接。</p>
            </div>
      
      </td>
    </tr>
    <tr>
      <td class="left_title_2">黑客扫描攻击检测
        :</td>
      <td class="center_title_2"><a href="#"><img src="../../images/icon/stop.png"/></a></td>
      </tr>
    <tr>
      <td class="left_title_2">FTP攻击检测
        :</td>
      <td class="center_title_2"><a href="#"><img src="../../images/icon/stop.png" alt=""/></a></td>
      </tr>
    <tr>
      <td class="left_title_2">TELNET攻击检测
        :</td>
      <td class="center_title_2"><a href="#"><img src="../../images/icon/stop.png" alt=""/></a></td>
      </tr>
    <tr>
      <td class="left_title_2">SMTP攻击检测
        :</td>
      <td class="center_title_2"><a href="#"><img src="../../images/icon/stop.png" alt=""/></a></td>
      </tr>
    <tr>
      <td class="left_title_2">特洛伊木马检测
        :</td>
      <td class="center_title_2"><a href="#"><img src="../../images/icon/stop.png" alt=""/></a></td>
      </tr>
    <tr>
      <td class="left_title_2">DNS攻击检测
        :</td>
      <td class="center_title_2"><a href="#"><img src="../../images/icon/stop.png" alt=""/></a></td>
      </tr>
    <tr>
      <td class="left_title_2">NETBIOS攻击检测
        :</td>
      <td class="center_title_2"><a href="#"><img src="../../images/icon/stop.png" alt=""/></a></td>
      </tr>
    <tr>
      <td class="left_title_2">MS-SQL攻击检测
        :</td>
      <td class="center_title_2"><a href="#"><img src="../../images/icon/stop.png" alt=""/></a></td>
      </tr>
    <tr>
      <td class="left_title_2">WEB攻击检测
        :</td>
      <td class="center_title_2"><a href="#"><img src="../../images/icon/stop.png" alt=""/></a></td>
      </tr>
    <tr>
      <td class="left_title_2">ICMP攻击检测
        :</td>
      <td class="center_title_2"><a href="#"><img src="../../images/icon/stop.png" alt=""/></a></td>
      </tr>
    <tr>
      <td width="187" class="left_title_2">蠕虫病毒检测:</td>
      <td width="251" class="center_title_2"><a href="#"><img src="../../images/icon/stop.png" alt=""/></a></td>
      </tr>
    </form>
  </table>
</div>
</body>
</html>
