<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title></title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/zdialog/zDialog.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//changeClientId('man_zone');
		document.getElementById("man_zone").style.height='550px';
		$('.inputbtn').jqTransInputButton({imgPath:'../../js/jqtransformplugin/img/'});
		$('.inputtext').jqTransInputText({imgPath:'../../js/jqtransformplugin/img/'});
		$('.inputselect').jqTransSelect({imgPath:'../../js/jqtransformplugin/img/'});
		//$('form').jqTransform({imgPath:'../../js/jqtransformplugin/img/'});
	});
</script>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
  <form action="xtcs.html" method="POST">
    <tr>
      <td width="18%" class="left_title_1"><span class="red">*</span>源地址:</td>
      <td width="29%"><div class="rowElem">
        <input type="text" name="inputtext2" class="inputtext"/>
      </div></td>
      <td width="19%" class="left_title_1"><span class="red">*</span>目的地址: </td>
      <td width="34%"><div class="rowElem">
        <input type="text" name="inputtext4" class="inputtext"/>
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red">*</span>掩 码: <br /></td>
      <td><div class="rowElem">
        <label>
          <select name="select" class="inputselect" id="select">
            <option>255.255.255.0</option>
            </select>
        </label>
      </div></td>
      <td class="left_title_1"><span class="red">*</span>掩 码: </td>
      <td><div class="rowElem">
        <label>
          <select name="select2" class="inputselect" id="select2">
            <option>255.255.255.0</option>
          </select>
        </label>
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1">源端口: </td>
      <td><div class="rowElem">从
          <input name="inputtext" type="text" value="0" size="10"/>
          到
          <input name="inputtext3" type="text" value="65535" size="10"/>
      </div></td>
      <td class="left_title_1">目的端口: </td>
      <td><div class="rowElem">从
        <input name="inputtext5" type="text"  value="0" size="10"/>
        到
  <input name="inputtext5" type="text" value="65535" size="10"/>
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red"></span>IP包头标识(ID): </td>
      <td><div class="rowElem">
        <input type="text" name="inputtext5" class="inputtext"/>
      </div></td>
      <td class="left_title_1"><span class="red"></span>生存期TTL: </td>
      <td><div class="rowElem">
        <input type="text" name="inputtext5" class="inputtext"/>
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red"></span><span class="red">*</span>协 议:</td>
      <td><div class="rowElem">
        <select name="select3" class="inputselect" id="select3">
          <option>TCP</option>
          <option>UDP</option>
          <option>ICMP</option>
        </select>
      </div></td>
      <td class="left_title_1">数据区长度</td>
      <td><div class="rowElem">
        <input type="text" name="inputtext5" class="inputtext"/>
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red"></span>TCP包头确认码(ACK): </td>
      <td><div class="rowElem">
        <input type="text" name="inputtext5" class="inputtext"/>
      </div></td>
      <td class="left_title_1"><span class="red"></span>TCP包头顺序码(SEQ):</td>
      <td><div class="rowElem">
        <input type="text" name="inputtext5" class="inputtext"/>
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1">TCP标志位(从左到右): <br /></td>
      <td colspan="3"><div class="rowElem">
        <label>
          <input type="checkbox" name="checkbox" id="checkbox" />
          保留1
        </label>
        <label>
          <input type="checkbox" name="checkbox" id="checkbox" />
          保留2
        </label>
        <label>
          <input type="checkbox" name="checkbox" id="checkbox" />
         URG
        </label>
        <label>
          <input type="checkbox" name="checkbox" id="checkbox" />
         ACK 
        </label>
        <label>
          <input type="checkbox" name="checkbox" id="checkbox" />
          PSH 
        </label>
        <label>
          <input type="checkbox" name="checkbox" id="checkbox" />
         RST 
        </label>
        <label>
          <input type="checkbox" name="checkbox" id="checkbox" />
          SYN 
        </label>
         <label>
          <input type="checkbox" name="checkbox" id="checkbox" />
          FIN 
        </label>
         <label>
          <input type="checkbox" name="checkbox" id="checkbox" />
         空 
        </label>
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1">ICMP类型: <br /></td>
      <td colspan="3">
  
        <label class="lw120">
          <input type="radio" name="radio" id="radio" value="radio" />  0 回应应答 
        </label>
        <label class="lw120">
          <input type="radio" name="radio" id="radio" value="radio" />    3 信宿不可达  
        </label>
        <label class="lw120">
          <input type="radio" name="radio" id="radio" value="radio" />  4源抑制 
        </label>
    
        <label class="lw120">
          <input type="radio" name="radio" id="radio" value="radio" />
5 重定向        </label>
        <label class="lw120">
          <input type="radio" name="radio" id="radio" value="radio" />
          8 回应请求        </label>
        <label class="lw120">
          <input type="radio" name="radio" id="radio" value="radio" />
          11 数据报超时        </label>
     
        <label class="lw120">
          <input type="radio" name="radio" id="radio" value="radio" />
12 数据报参数错        </label>
        <label class="lw120">
          <input type="radio" name="radio" id="radio" value="radio" />
          13 时戳请求        </label>
        <label class="lw120">
          <input type="radio" name="radio" id="radio" value="radio" />
          14 时戳应答        </label>
   
        <label class="lw120">
          <input type="radio" name="radio" id="radio" value="radio" />
          17 地址模请求        </label>
        <label class="lw120">
          <input type="radio" name="radio" id="radio" value="radio" />18 地址模响应
		</label>
              
      </td>
    </tr>
    <tr>
      <td class="left_title_1">ICMP代码: <br /></td>
      <td colspan="3"><div class="rowElem">
        <input name="inputtext6" type="text" class="inputtext" size="30"/>
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1">入侵特征码:</td>
      <td><div class="rowElem">
        <input type="text" name="inputtext7" class="inputtext"/>
      </div></td>
      <td class="left_title_1">区分大小写:</td>
      <td><div class="rowElem">
        <input type="checkbox" name="checkbox2" id="checkbox2" />
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1">偏移量度(offset): </td>
      <td><div class="rowElem">
        <input type="text" name="inputtext8" class="inputtext"/>
      </div></td>
      <td class="left_title_1">长度(depth): </td>
      <td><div class="rowElem">
        <input type="text" name="inputtext9" class="inputtext"/>
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red">*</span>定义报警事件主题:<br /></td>
      <td colspan="3"><div class="rowElem">
        <input name="inputtext" type="text" class="inputtext" size="30"/>
        </div></td>
    </tr>
    </form>
  </table>
</div>
</body>
</html>
