fieldset {
    margin: 1em 0px;
    padding: 1em;
}

legend {
    font-weight: bold;
    color: #000000;
}

fieldset label {
    float: left;
    text-align: left;
    width: 10em;
    color: #73938e;
    font-weight: bold;
    cursor: pointer;
}

fieldset .row {
    padding: 5px 0px;
    clear: left;
}

fieldset .tip {
    width: 200px;
}

fieldset .multiSelect {
    width: 10em;
}

fieldset select, fieldset b, fieldset textarea {
    float: left;
}

fieldset b {
    margin: 0 1em;
}

fieldset input {
    width: 10em;
    float: left;
}
fieldset .checkboxLabel, fieldset .radioLabel {
    width: auto;
    margin-right: 2em;
}
fieldset .checkbox, fieldset .radio {
    width: 1em;
}
fieldset>span {
    float: left;
    margin-right: 1em;
}

fieldset .note {
    width: auto;
}

fieldset .remark {
    width: 20em;
}

fieldset button.addBtn {
    margin-left: 2em;
}

fieldset div.twofa {
    margin-left: 5%;
}

fieldset label.midLabel {
    width: 150px;
}

fieldset label.longLabel {
    width: 250px;
}

hr {
    border: 1px dashed #e9e9e9;
}

/* LOG */
fieldset.searchFieldset {
    position: relative;
    width: 95%;
    margin: 5px;
}

fieldset label.logLabel {
    width: auto;
    margin-left: 5em;
}

fieldset label.s_time {
    width: auto;
    margin-left: 5em;
}

fieldset label.e_time {
    width: auto;
    margin-left: 0em;
}

fieldset a.advSearch {
    margin-right: 10em;
    display: inline;
}

fieldset a.fold {
    margin-right: 10em;
}

fieldset .userTraceLabel {
    width: auto;
    margin: 0 0 0 5em;
}

fieldset select.ifname, fieldset select.ipmask {
    width: 8em;
}

#searchBtn, #advSearchBtn {
    position: absolute;
    right: 20em;
}

/*TODO for ~ie6*/
.uploadFile { 
    width: 300px;
}

.ipv4, .ipv6, .ipv4Netmask {
    width: 8em;
}

.ipv6Netmask {
    width: 2em;
}

.simpleLabel , .maskLabel {
    width: auto;
}

/* lvs */
.virtualPortLabel, .realPortLabel {
    width: 6em;
    margin-left: 2em;
    margin-right: 1em;
}

.url {
    width: 200px;
}

/* model */
.seclevel, .time, .usergrp, .lip, .sa, .da, .filter {
    width: 8em;
}

.id, .port {
    width: 5em;
}


/* filter option*/
/* mail */
.filterSelect {
    width: 8em;
}
/* file exchange */
.contentCtlSelect {
    width: 8em;
}
.filesize {
    width: 6em;
}
/* ftp */
.cmdInfoLabel {
    width: 9em;
}

.keepAlive {
    width: 25em;
}

.banner, .filterOptComment {
    width: 370px;
}
