<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title>添加用户</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//changeClientId('man_zone');
		document.getElementById("man_zone").style.height='240px';
		$('.inputtext').jqTransInputText({imgPath:'../../js/jqtransformplugin/img/'});
		$('.inputselect').jqTransSelect({imgPath:'../../js/jqtransformplugin/img/'});
		//$('form').jqTransform({imgPath:'../../js/jqtransformplugin/img/'});
	});
</script>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
  <form action="xtcs.html" method="POST">
    <tr>
      <td width="23%" class="left_title_1"><span class="red">*</span>名称: <br /></td>
      <td width="77%"><div class="rowElem">
        <input type="text" name="inputtext2" class="inputtext"/>
        &nbsp;( 1-19个合法安符)</div></td>
    </tr>
    <tr>
      <td class="left_title_1">过滤模式: <br /></td>
      <td><div class="rowElem">
        <label>
          <input type="radio" name="radio" id="radio" value="radio" />
        </label>
      允许
      <label>
        <input type="radio" name="radio" id="radio2" value="radio" />
      </label>
      禁止
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red">*</span>SQL语句列表: <br /></td>
      <td><div class="rowElem">
        <p>
          <label>
            <input type="checkbox" name="checkbox" id="checkbox" />
          </label>
          CREATE
          <label>
            <input type="checkbox" name="checkbox2" id="checkbox2" />
          </label>
          DELETE
          <input type="checkbox" name="checkbox3" id="checkbox3" />
          INTERT
          <input type="checkbox" name="checkbox4" id="checkbox4" />
          UPDATE
          <input type="checkbox" name="checkbox5" id="checkbox5" />
          ALTER
          </p>
        <p>
          <input type="checkbox" name="checkbox6" id="checkbox6" />
          DROP
          <input type="checkbox" name="checkbox7" id="checkbox7" />
          SELECT
        </p>
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1"><br /></td>
      <td><span class="red">注：禁用SELECT命令会造成数据库连接不成功</span></td>
    </tr>
    <tr>
      <td class="left_title_1">备注：<br /></td>
      <td><div class="rowElem">
        <input type="text" name="inputtext"  class="inputtext"/>
      </div></td>
    </tr>
    </form>
  </table>
</div>
</body>
</html>
