<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title></title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/zdialog/zDialog.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//changeClientId('man_zone');
		document.getElementById("man_zone").style.height='440px';
		$('.inputbtn').jqTransInputButton({imgPath:'../../js/jqtransformplugin/img/'});
		$('.inputtext').jqTransInputText({imgPath:'../../js/jqtransformplugin/img/'});
		$('#lookjc').click(function(){
			win('yhzjc.html',800,460,'用户组进程添加');						 
		});
		//$('form').jqTransform({imgPath:'../../js/jqtransformplugin/img/'});
	});
</script>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
  <form action="xtcs.html" method="POST">
    <tr>
      <td width="16%" class="left_title_1"><span class="red">*</span>名称</td>
      <td width="84%"><div class="rowElem">
        <input type="text" name="inputtext2" class="inputtext"/>
        &nbsp;( 1-15 字母、数字、减号、下划线、点的组合 ) 
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red"></span>一次性调度：
        <input name="radio" type="radio" id="radio3" value="radio" checked="checked" />      </td>
      <td><div class="rowElem">
         起始时间:  
        &nbsp;
        <input type="text" name="inputtext3"/>
      终止时间: 
      <input type="text" name="inputtext4"/>
      有效时间格式 ( YYYY/MM/DD hh:mm 或 YYYY/MM/DD hh:mm:ss) </div></td>
    </tr>
    
    <tr>
      <td class="left_title_1">周循环调度：
        <input type="radio" name="radio" id="radio2" value="radio" /></td>
      <td><table width="100%" border="0" cellspacing="3" cellpadding="0"  class="table_style">
        <tr>
          <td align="center" class="center_title_1">调度日期</td>
          <td align="center" class="center_title_1">起始时间  终止时间 <br />
            有效时间格式 ( hh:mm 或 hh:mm:ss ) <br /></td>
          <td align="center" class="center_title_1">终止时间 <br />
有效时间格式 ( hh:mm 或 hh:mm:ss ) </td>
        </tr>
        <tr>
          <td align="center">星期天</td>
          <td align="center"><span class="rowElem">
            <input type="text" name="inputtext5" class="inputtext"/>
          </span></td>
          <td align="center"><span class="rowElem">
            <input type="text" name="inputtext12" class="inputtext"/>
          </span></td>
        </tr>
        <tr>
          <td align="center" class="center_title_1">星期一</td>
          <td align="center" class="center_title_1"><span class="rowElem">
            <input type="text" name="inputtext6" class="inputtext"/>
          </span></td>
          <td align="center" class="center_title_1"><span class="rowElem">
            <input type="text" name="inputtext13" class="inputtext"/>
          </span></td>
        </tr>
        <tr>
          <td align="center">星期二</td>
          <td align="center"><span class="rowElem">
            <input type="text" name="inputtext7" class="inputtext"/>
          </span></td>
          <td align="center"><span class="rowElem">
            <input type="text" name="inputtext14" class="inputtext"/>
          </span></td>
        </tr>
        <tr>
          <td align="center" class="center_title_1">星期三</td>
          <td align="center" class="center_title_1"><span class="rowElem">
            <input type="text" name="inputtext8" class="inputtext"/>
          </span></td>
          <td align="center" class="center_title_1"><span class="rowElem">
            <input type="text" name="inputtext15" class="inputtext"/>
          </span></td>
        </tr>
        <tr>
          <td align="center">星期四</td>
          <td align="center"><span class="rowElem">
            <input type="text" name="inputtext9" class="inputtext"/>
          </span></td>
          <td align="center"><span class="rowElem">
            <input type="text" name="inputtext16" class="inputtext"/>
          </span></td>
        </tr>
        <tr>
          <td align="center" class="center_title_1">星期五</td>
          <td align="center" class="center_title_1"><span class="rowElem">
            <input type="text" name="inputtext10" class="inputtext"/>
          </span></td>
          <td align="center" class="center_title_1"><span class="rowElem">
            <input type="text" name="inputtext17" class="inputtext"/>
          </span></td>
        </tr>
        <tr>
          <td align="center">星期六</td>
          <td align="center"><span class="rowElem">
            <input type="text" name="inputtext11" class="inputtext"/>
          </span></td>
          <td align="center"><span class="rowElem">
            <input type="text" name="inputtext18" class="inputtext"/>
          </span></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td class="left_title_1">备注: <br /></td>
      <td><div class="rowElem">
        <input name="inputtext" type="text" class="inputtext" size="50"/>
      </div></td>
    </tr>
    </form>
  </table>
</div>
</body>
</html>
