<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title>添加用户</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//changeClientId('man_zone');
		document.getElementById("man_zone").style.height='280px';
		$('.inputtext').jqTransInputText({imgPath:'../../js/jqtransformplugin/img/'});
		$('.inputbtn').jqTransInputButton({imgPath:'../../js/jqtransformplugin/img/'});
		//$('form').jqTransform({imgPath:'../../js/jqtransformplugin/img/'});
	});
</script>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
  <form action="xtcs.html" method="POST" enctype="multipart/form-data">
    <tr>
      <td width="26%" class="left_title_1"><span class="red">*</span>名称</td>
      <td width="74%"><div class="rowElem">
        <input type="text" name="inputtext2" class="inputtext"/>
        &nbsp;( 1-15 字母、数字、减号、下划线、点的组合 ) 
      </div></td>
    </tr>
    <tr>
      <td colspan="2" align="center" class="left_title_2"><label>
        </label>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="46%" align="right">时间列表成员<br/>
            <select name="select" size="10" id="select" class="w200">
            </select></td>
            <td width="6%" align="center"><p>
              <input type="button" name="button" id="button" value="&gt;&gt;" class="inputbtn" />
              </p>
              <p><br />
                <input type="button" name="button2" id="button2" value="&lt;&lt;" class="inputbtn" />
              </p></td>
            <td width="48%" align="left">
            时间组成员 <br/>
            <select name="select2" size="10" id="select2" class="w200">
            </select></td>
          </tr>
        </table></td>
      </tr>
    <tr>
      <td class="left_title_1">备注: </td>
      <td><div class="rowElem">
        <input type="text" name="inputtext2"  class="inputtext" size="40"/>
        &nbsp;&nbsp;</div></td>
    </tr>
    </form>
  </table>
</div>
</body>
</html>
