<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title>添加用户</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/zdialog/zDialog.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//changeClientId('man_zone');
		document.getElementById("man_zone").style.height='440px';
		$('.inputbtn').jqTransInputButton({imgPath:'../../js/jqtransformplugin/img/'});
		$('.inputtext').jqTransInputText({imgPath:'../../js/jqtransformplugin/img/'});
		$('#lookjc').click(function(){
			win('yhzjc.html',800,460,'用户组进程添加');						 
		});
		//$('form').jqTransform({imgPath:'../../js/jqtransformplugin/img/'});
	});
</script>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
  <form action="xtcs.html" method="POST">
    <tr>
      <td width="10%" class="left_title_1"><span class="red">*</span>名称</td>
      <td width="90%"><div class="rowElem">
        <input type="text" name="inputtext2" class="inputtext"/>
        &nbsp;( 1-15 字母、数字、减号、下划线、点的组合 ) 
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red"></span>分配流量</td>
      <td><div class="rowElem">
        <input type="text" name="inputtext4" class="inputtext"/>
        &nbsp; ( M 字节 范围: 0-1024000，0表示不限制 ) </div></td>
    </tr>
    <tr>
      <td class="left_title_1">分配时间</td>
      <td><div class="rowElem">
        <input type="text" name="inputtext4" class="inputtext"/>
( 分钟 范围: 0-525600，0表示不限制 ) </div></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red"></span>进程检查</td>
      <td><div class="rowElem">
        <label>
          <input type="checkbox" name="checkbox4" id="checkbox4" />
        </label>
( 是否启用进程检查 ) </div></td>
    </tr>
    <tr>
      <td class="left_title_1">进程策略</td>
      <td><div class="rowElem">
        <input type="checkbox" name="checkbox5" id="checkbox5" />
        &nbsp;&nbsp; ( 进程检查失败后，是否允许客户端登陆 ) </div></td>
    </tr>
    
    <tr>
      <td class="left_title_1">本组用户</td>
      <td><div class="rowElem magintop5">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="34%" align="right">所有用户<br/>
              <select name="select" size="10" id="select" class="w200">
              </select></td>
            <td width="18%" align="center"><p>
              <input type="button" name="button" id="button" value="&gt;&gt;" class="inputbtn" />
            </p>
              <p><br />
                <input type="button" name="button2" id="button2" value="&lt;&lt;" class="inputbtn" />
              </p></td>
            <td width="48%" align="left">本组用户<br/>
              <select name="select2" size="10" id="select2" class="w200">
              </select></td>
          </tr>
        </table>
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1">进程管理</td>
      <td><label>
        <input type="button" name="button3" id="lookjc" value="查看进程" class="inputbtn" />
      </label></td>
    </tr>
    </form>
  </table>
</div>
</body>
</html>
