body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Arial, Vrinda, Tahoma;
    font-size: 16px;
    text-align: center;
    background-color: #EEEEEE;
}

/* BASE */
.float_left {
    float: left;
}

.float_right {
    float: right
}

.clear_float {
    clear: both;
}



/* LAYOUT */
/* WRAPPER */
.wrapper {
    width: 920px;
    margin: 0px auto;
    text-align: left;
    background-color: #9FD5FF;
}

/* HEADER */
.header {
    height: 85px;
    background-color: #9FD5aa;
}

/* FOOTER */
.footer {
    height: 30px;
    background-color: grey;
}

.footer label {
    position: relative;
    top: 5px;
    left: 20px;
    font-weight: bold;
}

/* CONTENT */
.content {
}

.content .primary {
    width: 650px;
    padding-right: 20px;
    float: right;
    display: inline;
}

.content .secondary {
    width: 230px;
    float: left;
    display: inline;
}



/* MENU */
/* userinfo  */
.secondary .userinfo {
   
}

/* LEFT MENU */
.secondary .leftmenu {
    margin: 20px 0px 0px 10px; 
}

.leftmenu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.leftmenu ul a {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #2B3F00;
    text-decoration: none;
    padding: 0.3em 1em;
    background: #8BD400;
}

.leftmenu ul a:hover {
    background: #8BD400 url('yuanjiao_.gif') -5px -5px  no-repeat;
    background-position: right bottom;
    
}

/* LOGO */
.logo {
    border: 1px solid grey;
    height: 50px;
    width: 50px;
    margin: 5px 0px 0px 20px;
}




.toolbar {
    margin-left: 200px;
    border: 1px solid grey;
}

.headline {
    border-bottom : 1px solid #EEEEEE;
    font-size : 2em;
    padding-bottom : 10px
}

.itemTitle {
    color:#777777;
    font-size : 16px;
    padding-bottom:10px
}


.mainContent {
    float:left;
    height : 500px;
    width : 910px;
}

/* HELP */
.border {
    border: 1px solid red;
}
