<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<link rel="stylesheet" href="../../js/pagination/pagination.css" type="text/css" media="all" />
<title>管理区域</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/pagination/jquery.pagination.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		changeClientId('man_zone');
		$('.inputbtn').jqTransInputButton({imgPath:'../../js/jqtransformplugin/img/'});
		$('.inputfile').jqTransInputText({imgPath:'../../js/jqtransformplugin/img/'});
		$('.tiaojiao').click(function(){
			$('#t_file').click()
		})
		//分页
		var initPagination = function() {
			var num_entries = $("#hiddenresult div.result").length;
			num_entries=3;
			// 创建分页
			$("#Pagination").pagination(num_entries, {
				num_edge_entries: 1, //边缘页数
				num_display_entries: 4, //主体页数
				callback: pageselectCallback,
				items_per_page:1 //每页显示1项
			});
		 }();
		 
		function pageselectCallback(page_index, jq){
			//var new_content = $("#hiddenresult div.result:eq("+page_index+")").clone();
			new_content='';
			$("#Searchresult").empty().append(new_content); //装载对应分页的内容
			return false;
		}
		//分页结束
	});
function fclick(obj){
   with(obj){
     style.posTop=event.srcElement.offsetTop
     var x=event.x-offsetWidth/2
     if(x<event.srcElement.offsetLeft)x=event.srcElement.offsetLeft
     if(x>event.srcElement.offsetLeft+event.srcElement.offsetWidth-offsetWidth)x=event.srcElement.offsetLeft+event.srcElement.offsetWidth-offsetWidth;
	 style.posLeft=x
   }
}

	
</script>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style maginbotton12">
    <tr>
      <td colspan="2" class="tabletop">导入许可证</td>
    </tr>
    <tr>
      <td width="18%" class="left_title_1">产品许可证:</td>
      <td width="82%" valign="middle">
      <style>
	.inputfile{border:1px solid #333333;color:#666666;background:#FFF;font:normal 12px Tahoma;height:22px; line-height:22px; width:220px;}
</style>
    <input id="f_file" class="inputfile" readonly="readonly"> &nbsp; <span style="position:relative"><input type="button" onmouseover="fclick(t_file)" value="选择上传文件" class="inputbtn tiaojiao">
    <input name="upload" type="file" style="position:absolute;filter:alpha(opacity=30);opacity:0;width:30px; height:30px; " id="t_file" onchange="f_file.value=this.value" size="9" hidefocus>
    </span>
<input name="" type="submit" value="导入许可证" class="inputbtn" /></td>
    </tr>
  </table>
  
   <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
    <tr>
      <td colspan="4" class="tabletop">License启用信息 </td>
    </tr>
    <tr>
      <td width="8%" class="center_title_1">序号</td>
      <td width="30%" class="center_title_1">模块名</td>
      <td width="28%" class="center_title_1">截止时间</td>
      <td width="34%" class="center_title_1">状态</td>
    </tr>
    <tr>
      <td class="center_title_2">1</td>
      <td class="center_title_2">定制访问</td>
      <td class="center_title_2">永不过期</td>
      <td class="center_title_2">启用</td>
    </tr>
    <tr>
      <td class="center_title_2">2</td>
      <td class="center_title_2">定制访问</td>
      <td class="center_title_2">永不过期</td>
      <td class="center_title_2">启用</td>
    </tr>
    <tr>
      <td class="center_title_2">3</td>
      <td class="center_title_2">定制访问</td>
      <td class="center_title_2">永不过期</td>
      <td class="center_title_2">启用</td>
    </tr>
    <tr>
      <td colspan="4" align="right" class="tabletop1">
      		<div id="Pagination" class="pagination"><!-- 这里显示分页 --></div>
<div id="Searchresult">分页初始化完成后这里的内容会被替换。</div>
<!--<div id="hiddenresult" style="display:none;">
    <div class="result">第1项内容</div>
</div>-->
       </td>
    </tr>
  </table>
</div>
</body>
</html>
