<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title>管理区域</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		changeClientId('man_zone');
		$('.inputbtn').jqTransInputButton({imgPath:'../../js/jqtransformplugin/img/'});
		$('.inputfile').jqTransInputText({imgPath:'../../js/jqtransformplugin/img/'});
		$('.checkbox').jqTransCheckBox({imgPath:'../../js/jqtransformplugin/img/'});
		//$('.label').jqTransformGetLabel({imgPath:'../../js/jqtransformplugin/img/'});
		$('.tiaojiao').click(function(){
			//alert('sdf');
			$('#t_file').click()
		})
	});
</script>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
    <tr>
      <td colspan="3" class="tabletop">导入导出</td>
    </tr>
    <tr>
      <td class="left_title_1">&nbsp;</td>
      <td>
       <input name="" type="checkbox" value="" class="checkbox" />
       <span class="red">导出成加密格式</span></td>
      <td><input name="input2" type="button" value="导出配置" class="inputbtn" /></td>
    </tr>
    <tr>
      <td width="18%" class="left_title_2">配置文件:</td>
      <td width="26%">
      		  <input name="upload" type="file" style="position:absolute;filter:alpha(opacity=30);opacity:0;width:30px; height:30px; " id="t_file" onchange="f_file.value=this.value" size="9" hidefocus>
    <input id="f_file" class="inputfile" readonly="readonly"> &nbsp; <span style="position:relative"><input type="button" value="选择配置文件" class="inputbtn tiaojiao">
  
    </span></td>
      <td width="56%"><input name="input" type="submit" value="导入配置" class="inputbtn" /></td>
    </tr>
    <tr>
      <td class="center_title_1"></td>
      <td colspan="2" class="right_title_1">
      <div class="rowElem"><input type="submit" value="恢复出厂配置" width="50" class="inputbtn" />
      <input type="submit" value="保存配置" width="50" class="inputbtn" /></div>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
