<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title>添加用户</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//changeClientId('man_zone');
		document.getElementById("man_zone").style.height='180px';
		$('form').jqTransform({imgPath:'../../js/jqtransformplugin/img/'});
	});
</script>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
  <form action="xtcs.html" method="POST">
    <tr>
      <td colspan="2" class="left_title_1"><span class="red">*</span>帐号</td>
      <td><div class="rowElem">
        <input type="text" name="inputtext2"/>
        &nbsp;&nbsp;&nbsp;( 1-15位英文字母 ) </div></td>
    </tr>
    <tr>
      <td width="16%" class="left_title_2">
        <label>
          <input type="checkbox" name="checkbox" id="checkbox" />
          修改口令
        </label>
      </td>
      <td width="12%" class="left_title_2"><span class="red">*</span>口令</td>
      <td><div class="rowElem">
        <input type="text" name="inputtext2"/>
        &nbsp;&nbsp;&nbsp;(8-20 字母和数字组合) </div></td>
    </tr>
    <tr>
      <td colspan="2" class="left_title_1"><span class="red">*</span>确认口令</td>
      <td><div class="rowElem">
        <input type="text" name="inputtext2"/>
        &nbsp;&nbsp;</div></td>
    </tr>
    <tr>
      <td colspan="2" class="left_title_2">帐号类型</td>
      <td width="72%"><div class="rowElem"><input type="text" name="inputtext"/>&nbsp;&nbsp;&nbsp;( 1-20 个ASCII字符 ) </div></td>
    </tr>
    </form>
  </table>
</div>
</body>
</html>
