<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title>管理区域</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		changeClientId('man_zone');
		//$('form').jqTransform({imgPath:'../../js/jqtransformplugin/img/'});
		$('.inputbtn').jqTransInputButton({imgPath:'../../js/jqtransformplugin/img/'});
		$('.inputtext').jqTransInputText({imgPath:'../../js/jqtransformplugin/img/'});
	});
</script>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style maginbotton12">
  <form action="xtcs.html" method="POST">
    <tr>
      <td colspan="2" class="tabletop">自动升级</td>
    </tr>
    <tr>
      <td class="left_title_1"><label>
          <input type="checkbox" name="checkbox" id="checkbox" />
          启用
        </label>
        :</td>
      <td><div class="rowElem">
      升级服务器地此：
        <input type="text" name="inputtext2"/>
      &nbsp;&nbsp;升级服务器端口：<input type="text" name="inputtext2"/></div></td>
    </tr>
    <tr>
      <td class="left_title_1"><label>
          <input type="radio" name="radio" id="radio" value="radio" />
          实时升级
      </label>
        :</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="18%" class="left_title_1"><input type="radio" name="radio" id="radio2" value="radio" />
        定时升级
        :</td>
      <td width="82%"><div class="rowElem">
        <label>
          <input type="radio" name="radio3" id="radio3" value="radio3" />
        </label>
        每隔
        <label>
          <select name="select" id="select">
          </select>
        小时</label>
<div class="rowElem">
  <label>
    <input type="radio" name="radio3" id="radio4" value="radio3" />
  </label>
每天
<label>
  <select name="select2" id="select2">
  </select>
  点（小时）
</label>
</div>
        <div class="rowElem">
          <label>
            <input type="radio" name="radio3" id="radio5" value="radio3" />
          </label>
每周
<label>
  <select name="select3" id="select3">
  </select>
  天
  <select name="select4" id="select4">
  </select>
  点（小时） </label>
        </div>
      </div></td>
    </tr>
    <tr>
      <td class="center_title_1"></td>
      <td class="right_title_1"><div class="rowElem"><input name="按钮" type="button" value="确定" width="50" class="inputbtn"  />
          <input name="按钮" type="button" value="立即升级" width="50" class="inputbtn" />
      </div></td>
    </tr>
    </form>
  </table>
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style maginbotton12">
    <form action="xtcs.html" method="post">
      <tr>
        <td colspan="2" class="tabletop">手动升级</td>
      </tr>
      <tr>
        <td width="18%" class="left_title_1">病毒库当前版本：</td>
        <td width="82%"><span class="red">2008.0.1</span></td>
      </tr>
      <tr>
        <td class="left_title_1"><span class="red">*</span>升级文件</td>
        <td><label>
          <input type="file" name="fileField" id="fileField" />
        </label></td>
      </tr>
      <tr>
        <td class="center_title_1"></td>
        <td class="right_title_1"><div class="rowElem">
          <input name="按钮2" type="button" value="升级" width="50" class="inputbtn" />
        </div></td>
      </tr>
    </form>
  </table>
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
    <form action="xtcs.html" method="post">
      <tr>
        <td colspan="4" class="tabletop">导出升级历史</td>
      </tr>
      <tr>
        <td class="left_title_1">序号</td>
        <td class="center_title_1">更新版本</td>
        <td class="center_title_1">当前时间</td>
        <td class="center_title_1">时间</td>
      </tr>
      <tr>
        <td width="18%" class="center_title_2">&nbsp;</td>
        <td width="21%">&nbsp;</td>
        <td width="20%">&nbsp;</td>
        <td width="41%">&nbsp;</td>
      </tr>
      <tr>
        <td class="center_title_1"></td>
        <td colspan="3" class="right_title_1"><div class="rowElem">
          <input name="按钮3" type="button" value="导出升级历史" width="50" class="inputbtn" />
        </div></td>
      </tr>
    </form>
  </table>
</div>
</body>
</html>
