<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title>管理区域</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		changeClientId('man_zone');
		$('form').jqTransform({imgPath:'../../js/jqtransformplugin/img/'});
	});
</script>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style maginbotton12">
  <form action="xtcs.html" method="POST" enctype="multipart/form-data">
    <tr>
      <td colspan="2" class="tabletop">证书设置</td>
    </tr>
    <tr>
      <td class="left_title_1">CA中心证书:</td>
      <td><label>
        <input type="file" name="fileField" id="fileField" />
      </label></td>
    </tr>
    <tr>
      <td class="left_title_1">用户证书:</td>
      <td><input type="file" name="fileField2" id="fileField2" /></td>
    </tr>
    <tr>
      <td class="left_title_1">用户密钥:</td>
      <td><input type="file" name="fileField3" id="fileField3" /></td>
    </tr>
    <tr>
      <td class="left_title_1">用户密钥口令:</td>
      <td><span class="red">
        <label>
          <input type="text" name="textfield" id="textfield" />
        </label>
      </span></td>
    </tr>
    <tr>
      <td width="18%" class="left_title_1">对端证书公共名:</td>
      <td width="82%"><input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td class="center_title_1"></td>
      <td class="right_title_1"><div class="rowElem"><input name="按钮" type="button" value="导入" width="50" />
      </div></td>
    </tr>
    </form>
  </table>
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style maginbotton12">
    <form action="xtcs.html" method="post">
      <tr>
        <td colspan="2" class="tabletop"> 服务管理</td>
      </tr>
      <tr>
        <td width="18%" class="left_title_1">当前服务状态:</td>
        <td width="82%"><span class="red">停止</span></td>
      </tr>
      <tr>
        <td class="center_title_1"></td>
        <td class="right_title_1"><div class="rowElem">
          <input name="按钮2" type="button" value="启动服务" width="50" />
          <input name="按钮2" type="button" value="停止服务" width="50" />
        </div></td>
      </tr>
    </form>
  </table>
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
    <tr>
      <td colspan="5" class="tabletop">消息模块证书列表</td>
    </tr>
    <tr>
      <td class="center_title_1">证书文件</td>
      <td class="center_title_1">公共名</td>
      <td class="center_title_1">过期时间</td>
      <td width="18%" class="center_title_1">状态</td>
      <td class="center_title_1">操作</td>
    </tr>
    <tr>
      <td class="center_title_2">CA中心证书</td>
      <td class="center_title_2">&nbsp;</td>
      <td class="center_title_2">&nbsp;</td>
      <td class="center_title_2">&nbsp;</td>
      <td class="center_title_2"><a href="#" id="delInfo"> <img src="../../images/icon/delete.png" alt="" width="16" height="16" /></a></td>
    </tr>
    <tr>
      <td class="center_title_2">用户证书</td>
      <td class="center_title_2">&nbsp;</td>
      <td class="center_title_2">&nbsp;</td>
      <td class="center_title_2">&nbsp;</td>
      <td class="center_title_2"><a href="#" id="delInfo"> <img src="../../images/icon/delete.png" alt="" width="16" height="16" /></a></td>
    </tr>
    <tr>
      <td class="center_title_2">用户密钥</td>
      <td class="center_title_2">&nbsp;</td>
      <td class="center_title_2">&nbsp;</td>
      <td class="center_title_2">&nbsp;</td>
      <td class="center_title_2"><a href="#" id="delInfo"> <img src="../../images/icon/delete.png" alt="" width="16" height="16" /></a></td>
    </tr>
    <tr>
      <td width="19%" class="center_title_2">对端证书公共名</td>
      <td width="18%" class="center_title_2">&nbsp;</td>
      <td width="27%" class="center_title_2">&nbsp;</td>
      <td class="center_title_2">&nbsp;</td>
      <td width="18%" class="center_title_2"><a href="#" id="delInfo"> <img src="../../images/icon/delete.png" alt="" width="16" height="16" /></a></td>
    </tr>
  </table>
</div>
</body>
</html>
