<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" />
<link rel="stylesheet" href="../../js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
<title>添加用户</title>
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jqtransformplugin/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//changeClientId('man_zone');
		document.getElementById("man_zone").style.height='150px';
		$('.inputtext').jqTransInputText({imgPath:'../../js/jqtransformplugin/img/'});
		$('.inputselect').jqTransSelect({imgPath:'../../js/jqtransformplugin/img/'});
		//$('form').jqTransform({imgPath:'../../js/jqtransformplugin/img/'});
	});
</script>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
  <form action="xtcs.html" method="POST">
    <tr>
      <td width="23%" class="left_title_1"><span class="red">*</span>用户名: <br /></td>
      <td width="77%"><div class="rowElem">
        <input type="text" name="inputtext2" class="inputtext"/>
      （1-15位英文字母，数字与下划线）</div></td>
    </tr>
    <tr>
      <td class="left_title_1"><span class="red">*</span>密码: <br /></td>
      <td><div class="rowElem">
        <input type="password" name="inputtext" class="inputtext"/>
      （6-15位数字，或字母组合）</div></td>
    </tr>
    <tr>
      <td class="left_title_1">确认密码: <br /></td>
      <td><div class="rowElem">
        <input type="password" name="inputtext3" class="inputtext"/>
      </div></td>
    </tr>
    <tr>
      <td class="left_title_1">权限: <br /></td>
      <td><div class="rowElem">
        <label>
          <input type="checkbox" name="checkbox" id="checkbox" />
        </label>
      发送
      <label>
        <input type="checkbox" name="checkbox2" id="checkbox2" />
      </label>
      接收
      </div></td>
    </tr>
    </form>
  </table>
</div>
</body>
</html>
